$base-color: #181b22;
$default-color: #222430;
$default-broder-radius: 30px;

.homepage_container {
    height: 100%;
    min-width: 818px;
    width: 100%;
    display: flex;
    align-items: center;

    .home_aside {
        height: 95%;
        width: 76px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .showDrawnBtn {
            cursor: pointer;
            display: block;
            width: 12px;
            height: 150px;
            overflow: hidden;
            outline: none;
            border: 1px solid #27b2f3;
            border-radius: 0 15px 15px 0;
            box-shadow: 2px 0 10px 0 #27b2f3;
            text-align: center;
            padding: 0;
            background-color: #27b2f3;
            color: white;
            transition: all 0.3s ease;
        }

        .showDrawnBtn:hover {
            width: 25px;
            transition: all 0.3s ease;
        }
    }

    .home_main {
        height: 95%;
        width: 78%;
        background-color: $base-color;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .health_part_one,
        .health_part_two,
        .health_part_three {
            margin: 0 auto;
            width: 97.5%;
            border-radius: $default-broder-radius;
            background-color: $default-color;
        }

        .health_part_one {
            height: 36%;
        }

        .health_part_two {
            display: flex;
            align-items: center;
            height: 36%;
            background-color: #181b22;

            .area_one,
            .area_two,
            .area_three {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: $default-broder-radius;
                background-color: $default-color;
                transition: all 700ms ease;
            }

            .area_one {
                width: var(--flex1);
                margin-right: 10px;
            }

            .area_two {
                width: var(--flex2);
                margin: 0 10px;
            }

            .area_three {
                width: var(--flex3);
                margin-left: 10px;
            }

            .area_one.active {
                width: var(--flex1);
            }

            .area_two.active {
                width: var(--flex2);
            }

            .area_three.active {
                width: var(--flex3);
            }
        }

        .health_part_three {
            height: 20%;
        }
    }

    .home_right {
        height: 95%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .tabs_container {
            width: 283px;
            height: 200px;
            // margin-top: $part_two_area_margin;
            // animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 2s;

            #nav-tab {
                background-color: #181b22;
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                border: 10px solid #181b22;
            }

            .nav-tab-item {
                width: 110px;
                height: 100%;
                z-index: 2;
                transition: 0.3s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
            }

            .nav-tab-item.active {
                width: 152px;
            }

            .nav-tab-item_label {
                font-size: 4em;
                font-weight: 900;
                color: #4298e7;
                opacity: 0;
                transition: 0.6s ease;
                user-select: none;
                margin: 0;
                padding: 0;
            }

            .active .nav-tab-item_label {
                opacity: 1;
            }

            .nav-tab-overlay {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 152px;
                background-color: #222430;
                border-radius: 10px;
                transition: 0.6s ease;
            }
        }

        .audio_container {
            width: 320px;
            height: 120px;
            border: 2px solid #2f313c;
            border-radius: $default-broder-radius;
            background-color: #222430;
            text-align: center;
            box-shadow: 7px 8px 17px -7px #000;
        }

        .clock_container {
            width: 283px;
            height: 32px;
            border-radius: 20px;
            background-color: #181b22;
            // margin-top: $part_two_area_margin;
        }

        .weather_container {
            width: 283px;
            height: 100px;
            border-radius: 20px;
            background-color: #181b22;
            // margin-top: $part_two_area_margin;
        }

        .kpi_container {
            width: 340px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            // animation: slide-in-blurred-tr 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 1.2s;
            // animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 1.2s;
        }
    }

    .mask {
        // float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: #000;

        h1 {
            font-size: 4.5em;
            font-weight: 900;
            font-style: italic;
            // color: aqua;
            cursor: pointer;
            // 渐变色动画
            animation: color-change-3x 2s linear infinite alternate both;
        }
    }
}

// 动画
@keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}