* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100vw;
    height: 100vh;
    background: #222430;
    color: #fff;
    overflow-y: hidden;
}

/* body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
} */

a {
    text-decoration: none;
}